html {
  scroll-behavior: smooth;
}

* {
  font-family: "Anybody", cursive;
}

.titulo-seccion {
  margin-top: 50px;
}

h1.titulo {
  margin: 0;
}

section {
  scroll-margin-top: 130px;
}

.inicio {
  background: linear-gradient(
    300deg,
    rgba(255, 166, 0, 0.616),
    rgb(154, 55, 241),
    rgba(82, 82, 252, 0.666),
    rgba(161, 161, 243, 0.66)
  );
  height: 100vh;
  width: 100%;
  background-size: 300% 300%;
  animation: gradient-animation 20s ease infinite;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 200px;
}

.contacto {
  margin: 30px 0 30px 0;
}

#descargar-cv {
  padding: 10px 15px;
  background-color: rgb(255, 255, 253);
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

#descargar-cv:hover {
  background-color: #2906ff;
  color: white;
}

.proyectos {
  min-height: 100vh;
}

.proyectos-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px 25px;
}

.div-proy {
  width: 45%;
  align-items: center;
}

.tech-stack{
  border-color: #2906ff;
  color:#2906ff;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  cursor:default!important;
  margin: 4px 5px;
}

.tech-icon{
  font-size: 30px;
  margin-right: 10px;
}

#btn-2 {
  width: 200px;
  height: 60px;
  background: linear-gradient(to left top, #2906ff 50%, #2906ff 50%);
  border-style: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#btn-2 span {
  position: absolute;
  display: block;
}
#btn-2 span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), white);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}
#btn-2 span:nth-child(2) {
  height: 70px;
  width: 5px;
  top: -70px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), white);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
#btn-2 span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), white);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}

#btn-2 span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), white);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}

#btn-2:hover {
  transition: all 0.5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.titulo {
  margin-top: 40px;
  animation: mover-izq-abajo 2s;
  animation-fill-mode: forwards;
  width: 50%;
  font-size: 80px;
}

.img-proyectos {
  margin: 0;
}

a {
  width: auto;
}

h3 {
  font-size: 36px;
  letter-spacing: 1px;
}

h2 {
  text-align: center;
  font-size: 48px;
  letter-spacing: 1px;
}

.cont-titulo {
  margin-top: 50px;
}

#mi-descripcion {
  text-align: end;
  line-height: 44px;
}

.palabras {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 40px;
  font-weight: 500;
  overflow: hidden;
  color: rgb(154, 55, 241);
  justify-content: center;
  margin-top: 100px;
}

.palabras > ul {
  list-style: none;
  padding-left: 10px;
  animation: cambiar 16s infinite;
}

.palabras > * {
  margin: 0;
  margin-right: 10px;
  text-align: center;
}

p {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: justify;
}

.flex-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 10%;
  margin-right: 10%;
}

td > * > * {
  font-size: 20px;
  color: black;
}

td > p {
  padding-top: 10px;
  margin-left: 10px;
}

td > a > p {
  padding-top: 10px;
  margin-left: 10px;
}

.info-contacto > tr,
td {
  padding: 5px;
}

.info-contacto > img {
  width: 37px;
}

.info-contacto {
  min-width: 400px;
}

.footer {
  background-color: #dae5ff;
}

.subrayado-titulo {
  width: 50%;
  height: 11px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #2906ff 0%,
    rgba(253, 253, 255, 0.62) 78.65%
  );
  margin-left: 25%;
  margin-bottom: 20px;
}

.fade {
  animation: fadeIn 3s;
  animation-fill-mode: forwards;
}

.card-body {
  display: flex;
}

.wrong-text {
  color: red;
  font-size: 0.5rem;
}

.proyectos-p {
  width: 90%;
  font-size: 20px;
}

.hidden {
  opacity: 0;
}

.img-proyectos {
  opacity: 0;
  transition: 0.9s ease-in-out all;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}

.img-proyectos:hover {
  transform: scale3d(1.1, 1.1, 1.2);
  box-shadow: 10px 10px 5px rgb(99, 99, 99);
}

.izquierda {
  transform: translateX(-100px);
}

.derecha {
  transform: translateX(100px);
}

.img-proy-visible {
  opacity: 1;
  transform: translateX(0);
}

.icono {
  height: 50px;
  width: auto;
}

#button-email {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #2906ff;
  color: white;
  padding: 5px 15px;
  border: 1px solid black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mover-izq-abajo {
  from {
    transform: translate(-300px, -200px);
  }
  to {
    transform: translate(10%, 100%);
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1200px) {
  .titulo {
    font-size: 40px;
    margin: 0;
  }

  .proyectos-flex {
    justify-content: center;
    gap: 25px 25px;
  }

  .subrayado-titulo {
    height: 8px;
    width: 80%;
    margin-left: 10%;
  }

  @keyframes mover-izq-abajo {
    from {
      transform: translate(-300px, -200px);
    }
    to {
      transform: translate(10%, 180%);
    }
  }

  #mi-descripcion {
    text-align: end;
    line-height: 35px;
    margin-top: 40px;
    font-size: 15px;
    letter-spacing: 1px;
  }

  .inicio {
    gap: 200px;
  }

  p {
    font-size: 15px;
  }

  .info-contacto {
    min-width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .titulo {
    font-size: 40px;
    width: 80%;
    margin-top: 20px;
  }

  td > p {
    padding-top: 10px;
    margin: 0;
    font-size: 14px;
  }

  #btn-2{
    font-size: 16px;
    letter-spacing: 1px;
  }

  .icono {
    height: 40px;
    width: auto;
    margin: 0px 15px;
  }

  .div-proy {
    width: 90%;
  }

  #p1 {
    order: 2;
  }

  #div-img1 {
    order: 1;
  }

  #p2 {
    order: 4;
  }

  #div-img2 {
    order: 3;
  }

  #div-img3 {
    order: 5;
  }
  #div-img4 {
    order: 7;
  }

  #p3 {
    order: 6;
  }

  #p4 {
    order: 8;
  }

  td > a > p {
    padding-top: 10px;
    margin: 0;
    font-size: 14px;
  }

  td > p {
    padding-top: 10px;
    margin: 0;
    font-size: 14px;
  }

  .i-contacto {
    height: 20px;
    width: auto;
  }

  .img-carrusel {
    height: 190px;
    width: 220px;
  }

  p {
    text-align: justify;
  }

  p > td {
    margin: 0px 0px;
  }

  p.fade {
    margin-top: 20px;
  }

  @keyframes mover-izq-abajo {
    from {
      transform: translate(-300px, -200px);
    }
    to {
      transform: translate(10%, 180%);
    }
  }

  #mi-descripcion {
    text-align: center;
    line-height: 35px;
    margin-top: 40px;
    font-size: 15px;
    letter-spacing: 1px;
  }

  .inicio {
    gap: 150px;
    height: 100vh;
  }

  p {
    font-size: 15px;
  }


}

@media (max-width: 768px) {
  #form {
    min-width: 100% !important;
  }
  

  .izquierda {
    transform: translateX(0px);
  }

  .derecha {
    transform: translateX(0px);
  }

  .proyectos-p {
    font-size: 15px;
  }

  .div-proy > h3{
    font-size: 24px;
  }

  .tech-stack {
    font-size: 15px;
  }

  .palabras {
    font-size: 20px;
    height: 25px;
  }

  .izquierda {
    transform: translateX(0px);
  }

  .derecha {
    transform: translateX(0px);
  }
}

@media (min-width: 1400px) {
  .formulario-contacto {
    min-width: 600px;
  }
}

@media (min-width: 1000px) {
  .formulario-contacto {
    min-width: 400px;
  }

  .contacto{
    height: 50vh;
  }

  .footer {
    height: 30vh;
    padding-top: 8vh;
  }
}




/* DARK MODE */