*{
    font-family: 'Anybody', cursive;
}

.inicio {
    background: linear-gradient(300deg,rgba(255, 166, 0, 0.616), rgb(154, 55, 241),rgba(82, 82, 252, 0.666) , rgba(161, 161, 243, 0.66) );
    height:100vh;
    width: 100%;
    background-size: 300% 300%;
    animation: gradient-animation 20s ease infinite;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 200px;
  }

  .titulo{
    animation: mover-izq-abajo 2s;
    animation-fill-mode: forwards;
    width: 50%;
    font-size: 80px;
  }

  h3{
    font-size: 36px;
    letter-spacing: 1px;
  }

  h2{
    text-align: center;
    font-size: 48px;
    letter-spacing: 1px;

  }

 #mi-descripcion{
  text-align: end;
  line-height: 44px;
 }

 p{
  font-size: 20px;
  letter-spacing: 1px;
 }

 .flex-contacto{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 10%;
  margin-right: 10%;

 }

td > * > *{
  font-size: 15px;
  color: black;
}

td > p{
  padding-top: 10px;
}

td > a > p{
  padding-top: 10px;

}

 .info-contacto > tr, td{
  padding: 5px;
 }

 .info-contacto > img{
  width: 37px;
 }

 .info-contacto{
  min-width: 500px;
 }

 .formulario-contacto{
  min-width: 500px;
 }

 .footer{
  background-color: #DAE5FF;
 }
 
 .subrayado-titulo{

width: 50%;
height: 11px;
background: radial-gradient(50% 50% at 50% 50%, #2906FF 0%, rgba(253, 253, 255, 0.62) 78.65%);
margin-left: 25%;
margin-bottom: 20px;

 }

 .grid-habilidades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: (auto);
}

.carrusel{
  grid-column: 1;
}


.blandas{
  grid-column: 2;

}

.img-carrusel{
  height: 30vh;
  object-fit: scale-down;
}

.fade{
  animation: fadeIn 3s;
  animation-fill-mode: forwards;
}

.card-body{
  display:flex;
}

.wrong-text{
  color: red;
  font-size: 0.5rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



  @keyframes mover-izq-abajo {
    from{
        transform: translate(-300px, -200px);
    }    
    to{
        transform: translate(10%, 100%);
    }
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  


  @media (max-width: 1200px){
    .titulo{
        font-size: 40px;
        width: 80%;
    }

    .subrayado-titulo{
      height: 8px;
      width: 80%;
      margin-left: 10%;
    }

    @keyframes mover-izq-abajo {
      from{
          transform: translate(-300px, -200px);
      }    
      to{
          transform: translate(10%, 180%);
      }
    }

    #mi-descripcion{
      text-align: end;
      line-height: 35px;
      margin-top: 40px;
      font-size: 15px;
      letter-spacing: 1px;
     }

     .inicio{
      gap: 200px;
     }

     p{
      font-size: 15px;
     }

     .info-contacto{
      min-width: 100%;
      margin-bottom: 50px;
     }
    
     .formulario-contacto{
      min-width: 100%;
     }

    
  }



  @media (max-width: 700px) {
    .titulo{
        font-size: 40px;
        width: 80%;
    }

    #correo{
      font-size: 13px;
    }

    .img-carrusel{
      height: 190px;
      width: 220px;
    }

    @keyframes mover-izq-abajo {
      from{
          transform: translate(-300px, -200px);
      }    
      to{
          transform: translate(10%, 180%);
      }
    }

    #mi-descripcion{
      text-align: center;
      line-height: 35px;
      margin-top: 40px;
      font-size: 15px;
      letter-spacing: 1px;
     }

     .inicio{
      gap: 200px;
      height: 100vh;
     }

     p{
      font-size: 15px;
     }

     .grid-habilidades {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .carrusel{
      grid-column: 4/5;
      margin-bottom: 20px;
    }
    
    
    .blandas{
      grid-column: 7/11;
      margin-bottom: 40px;
    
    }
  }



  @media (max-width: 767px) {
		.carousel-inner .carousel-item > div {
			display: none;
		}
		.carousel-inner .carousel-item > div:first-child {
			display: block;
		}
	}

	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}

	/* medium and up screens */
	@media (min-width: 768px) {

		.carousel-inner .carousel-item-end.active,
		.carousel-inner .carousel-item-next {
			transform: translateX(33%);
		}

		.carousel-inner .carousel-item-start.active, 
		.carousel-inner .carousel-item-prev {
			transform: translateX(-33%);
		}
	}

	.carousel-inner .carousel-item-end,
	.carousel-inner .carousel-item-start { 
		transform: translateX(0);
	}